@page "/"

<PageTitle>CS 3500</PageTitle>

<h1>CS 3500 - Spreadsheet GUI in Blazor!</h1>

<p> Click on the spreadsheet nav link!</p>

<environment names="Development">
    <script src="_framework/aspnetcore-browser-refresh.js"></script>
</environment>